<div class="container mt-4">

  <h2 class="mb-4">Clients</h2>

  <table class="table table-striped table-hover table-bordered align-middle company-table">

    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Phone</th>
        <th>Branch / Dept</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of clients">
        <td>{{ c.companyName }}</td>
        <td>{{ c.contactName }}</td>
        <td>{{ c.contactPhone }}</td>
        <td>{{ c.branch_Dept }}</td>
      </tr>
    </tbody>

  </table>

  <button routerLink="/client/add" class="add-btn">
    + Add Client
  </button>

</div>