<div class="container mt-4">

  <h2 class="mb-4">Jobs</h2>

  <table class="table table-striped table-hover table-bordered align-middle company-table">

    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Job Title</th>
        <th>Posted Date</th>
        <th>Salary</th>
        <th>Hourly</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of jobs">
        <td>{{ c.company }}</td>
        <td>{{ c.jobTitle }}</td>
        <td>{{ c.postedDate }}</td>
        <td>{{ c.salary }}</td>
        <td>{{ c.hourly }}</td>
      </tr>
    </tbody>

  </table>

  <button routerLink="/job/add" class="add-btn">
    + Add Job
  </button>

</div>